fieldset{
    margin-bottom: 3rem;
}

div{
    display: flex;
    margin-bottom: 0.5rem;
}
label{
    width: 5rem;
}
input{
    flex-grow: 1;
}
input, button{
    border: 1px solid darkgray;
    padding: 0.25rem;
    border-radius: 0.25rem;

}
button{
    margin-right: 0.5rem;
    text-decoration: none;
    background-color: rgb(62, 62, 173);
    color: white;
}