<table class="table table-bordered table-striped tale-hover">
    <thead class="table-dark">
        <tr>
            <th class="text-end">Id</th>
            <th>Nombre</th>
            <th class="text-end">Precio</th>
            <th>OPCIONES</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let p of productos">
            <td class="text-end">{{p.id}}</td>
            <td>{{p.nombre}}</td>
            <td class="text-end">{{p.precio}}€</td>
            <td>
                <a class="btn btn-sm btn-primary" routerLink="formulario/{{p.id}}">Editar</a>
                <a class="btn btn-sm btn-danger" (click)="borrar(p.id)">Borrar</a>
            </td>
        </tr>
    </tbody>
    <tfoot class="table-dark">
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td>
                <a class="btn btn-sm btn-primary" routerLink="formulario">Añadir</a>
            </td>
        </tr>
    </tfoot>

</table>