<h1>Introduction to the Angular docs</h1>

<p>Angular is an application-design framework and development platform for creating efficient and sophisticated
    single-page apps.

    These Angular docs help you learn and use the Angular framework and development platform, from your first
    application to optimizing complex single-page applications for enterprises. Tutorials and guides include
    downloadable examples to help you start your projects.</p>
<div class="card border-success mb-3" style="max-width: 18rem;">
    <div class="card-body text-success">
        <h5 class="card-title">Card pero mal</h5>
        <p class="card-text">Esta carta me puede servir</p>
    </div>
    <div class="card-footer bg-transparent border-success">Hasta tiene footer</div>
</div>